* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montseratt', sans-serif;
}

.Clear {
    background-image: url("/images/clear.jpeg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}

.Thunderstorm {
    background-image: url("/images/thunderstorm.jpeg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}
.Drizzle {
    background-image: url("/images/drizzle.jpeg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}
.Rain {
    background-image: url("/images/rain.jpg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}
.Snow {
    background-image: url("/images/snow.jpeg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}
.Atmosphere {
    background-image: url("/images/haze.jpeg");
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}
.Clouds {
    background-image: url("/images/clouds.jpeg");
    background-size: cover;
    background-position: top;
    transition: 0.8s ease;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(10, 22, 40));
    padding: 30px;
}

.search-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px;
}

::placeholder {
    color: #e6eff3;
    opacity: 0.9;
}

.search-bar {
    display: block;
    text-align: center;
    width: 70%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 20px 20px 20px 20px;
    margin-top: -20px;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 20px;
    transition: 0.7s ease;
}

.search-bar:focus {
    background-color: rgb(2, 61, 102);
}

.location {
    color: #FFF;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.weather-box {
    text-align: center;
}

.temp {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 4px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.2);
}

.weatherState {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.weather-info {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    font-style: italic;
}