.comboBox {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 100%;
    max-width: 200px;
    z-index: 5;
}

.inputField {
    text-align: center;
    border: none;
    outline: none;
    background: linear-gradient(170deg, #2188bc, #cbe3f8);
    border-radius: 20px 20px 20px 20px;
    box-shadow: inset 5px 5px 10px #344a61, inset -5px -5px 10px #d0ffff;
    color: #ffffff;
    font-size: 20px;
    /*transition: 0.5s ease;*/
}
/*.inputField:focus {*/
/*    background-color: rgb(125, 214, 243);*/
/*}*/

.homeBase {
    position: absolute;
    top: 70px;
    right: 15px;
    background: none;
    border: none;
    z-index: 5;
}
