.comboBox {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 100%;
    max-width: 200px;
    z-index: 5;
}

.inputField {
    text-align: center;
    border: none;
    outline: none;
    background-color: #1b7aaa;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 20px;
    transition: 0.5s ease;
}
.inputField:focus {
    background-color: rgb(2, 59, 96);
}

.homeBase {
    position: absolute;
    top: 70px;
    right: 15px;
    background: none;
    border: none;
    z-index: 5;
}
