.background-image {
    background-image: url("/images/sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.loginStyle {
    color: #3eb0d4;
}

.loginInputField {
    display: block;
    margin-top: 15px;
    padding: 10px;
    opacity: 0.8;
    border: none;
    outline: none;
    text-align: center;
    width: 165px;
    background-color: rgba(1, 43, 71,0.7);
    border-radius: 10px;
    box-shadow: inset 4px 5px 3px #0e0d0d, inset -2px -3px 3px #ffffff;
    /*box-shadow: inset 4px 5px 3px #0e0d0d, inset -2px -3px 3px #de6b34;*/
    color: #ffffff;
    font-size: 16px;
}

