.background-image {
    background-image: url("/images/sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.loginStyle {
    color: #3eb0d4;
}

.loginInputField {
    display: block;
    opacity: 0.7;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(1, 43, 71,0.7);
    border-radius: 14px;
    box-shadow: inset 3px 3px 7px #363637, inset -3px -3px 5px #ffffff;
    color: #ffffff;
    font-size: 20px;
    transition: 0.5s ease;
}

