.background-image {
    background-image: url("/images/sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.loginStyle {
    color: #3eb0d4;
}

.loginBox {
    background-color: #022039;
    opacity: 0.7;
}

